@import url(http://weloveiconfonts.com/api/?family=fontawesome);

*[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


body {
	font-family: 'Oxygen', sans-serif;
    background-color: #f7f3ec;
    cursor: url("../imgs/cursor.gif"), pointer;
}

header {
	text-align: center;
}

#menu{
    list-style: none;
    z-index: 4;
    position: fixed;
    width: 10%;
    height: 20%;
    background: #ef7c7b;
    border-radius: 30%;
    line-height:5.2em;
    bottom:-80px;
    left:43%;
    border: 2px solid #13110f;
    text-align: left;
    
}

#menu a{
      list-style: none;  
      color: #ffffff;
      text-decoration: none;
      position: fixed;
      font-weight: 700;
      font-size: 1.6em;
}

#menu:hover{
          background: #b8dddc;
       	 border: 2px solid #13110f;
      }

.btnvoltar,
.btnavante {
	height: 1.5em;
	font-size: 2em;
	position: absolute;
	top: 30%;
    width: 1.5em;
    text-decoration: none;
}

.btnvoltar:hover{
  content: url(../SVG/voltarcolor.svg);
    
}
.btnavante:hover {
  content: url(../SVG/avancarcolor.svg);
}

.btnvoltar {
	left: 30%;
}

.btnavante {
	right: 30%;
}

.mes{
    font-size:2rem;
}
    
#calendar {
	width: 100%;	
}

#calendar a {
	color: #b8dddc;
	text-decoration: none;
}

#calendar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

#calendar li {
	display: block;
	float: left;
	width:14%;
	padding: 5px;
	box-sizing:border-box;
	border: 2px solid #ffffff;
	margin: 1px 1px 1px 1px; 
    border-radius: 15px;

}

#calendar ul.weekdays {
	height: 40px;
	background: #ef7c7b;
    border: 2px solid #13110f;
    border-radius: 5px;

}

#calendar ul.weekdays li {
	text-align: center;
	text-transform: uppercase;
	line-height: 30px;
	border: none !important;
	padding: 10px 10px 10px 10px;
	color: #f7f3ec;
	font-size: 1rem;
    font-weight: 600;

}

#calendar .days li {
	height: 180px;
    background: #ffffff;
}


#calendar .date {
	text-align: center;
	padding: 20px 20px 20px 20px;
    position: center;
    color: #13110f;
    background: #ffffff;
	width: 30px;
    height: 30px;
	border-radius: 50%;
	float: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    z-index: 1;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;

}


#calendar .date:hover {
	background: #13110f;
    color: #ffffff;
}

#calendar .event {
	clear: both;
	display: block;
	font-size: 14px;
	border-radius: 10px;
	padding: 5px;
	margin-top: 100px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #a8e0c8;
	border: 2px solid #ffffff;
	color: #ffffff;
	text-decoration: none;

}

#calendar .event-desc {
	color: #666;
	margin: 3px 0 7px 0;
	text-decoration: none;	
}

#calendar .other-month {
	color: #666;
    filter: grayscale(100%);
}

.img_vert{
    position: relative;
    width: 100%;
    z-index: 0;
    top:0;
   left:0;
    
}

.img_hor{
    position: relative;
    height: 100%;
    z-index: 0;
    top:0;
   left:0;
    
}

#img_main {
   width:190px;
   height:170px;
   position:relative;
   overflow: hidden;
   border-radius: 10px;
    
}

#img_main:hover {
     z-index: 3;
   -moz-transform: scale(2.1);
	-webkit-transform: scale(2.1);
	transform: scale(2.1);
}

.logo{
    position: relative;
    margin-left: 38%;
    margin-top: 20px;
    width: 10%;
    height: auto;

}

    


/* ============================
				Mobile Responsiveness
   ============================*/


@media (max-width: 767px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}

	#calendar .date {
		float: none;
	}

    
    .btn-prev,
.btn-next {
	
	top: 20%;
    height: 1.2em;
	font-size: 1.2em;
	line-height: 1.2em;
	width: 1.4em;
    border: 2px solid #13110f;
	
}



.btn-prev {
	left: 8%;
}

.btn-next {
	right: 8%;
}

   
#menu{
   
    width: 25%;
    height: 20%;
    left:30%;
    line-height: 4em; 
}
    
#menu a{
      font-size: 1rem;
      text-align: center;
}
    
    
 .logo{
    width: 45%;
    margin-left: 5%;
   
}
    
    .mes{
    font-size:1rem;
}
    
    
#img_main {
   width:100%;
   height:auto;
   position:relative;
   overflow: hidden;
   border-radius: 10px;
    
}

    #img_main:hover {
     z-index: 3;
   -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

}


@media (min-width: 768px) and (max-width: 1000px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}

	#calendar .date {
		float: none;
	}

    
    .btn-prev,
.btn-next {
	
	top: 18%;
	height: 1.4em;
	font-size: 1.4em;
	line-height: 1.4em;
	width: 1.6em;
	border: 2px solid #13110f;

}
    
    
.btn-prev {
	left: 20%;
}

.btn-next {
	right: 20%;
}

	
    .logo{
    width: 30%;
    margin-left: 35%;
   
}
    
       .mes{
    font-size:1.4rem;
}
    
    
#menu{
   
    width: 12%;
    height: 18%;
    left:45%;
    line-height:4em; 
    border-radius: 20%;

}
    
#menu a{
   
      font-size: 1.2rem;
}

    #img_main {
   width:50%;
   height:10%;
   left: 30%;
   position:relative;
   overflow: hidden;
   border-radius: 10px;
    
}

    #img_main:hover {
     z-index: 3;
   -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
    
    
#calendar .date {
    margin-left: 30%;

}


    }
